$dark: #172433;
$primary: #2499E8;
$accent: #A887F2;
$highlight: #FFDB33;
$alternate-highlight: #FF7A67;
$bg: #F7F7FA;
$weird-blue: #F5FAFF;
$pale: #F8F8F9;
$secondary: rgba($dark, .5);
$border: #C9CCCC;
$error: #D41C2D;

$small: 560px;
$medium: 980px;


@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}


@function image-url($file) {
  @return url("/images/#{$file}.png");
}

body {
  background: $bg;
  color: $dark;
  padding: 0 !important;

  a, h1, h2, h4, h5, h6, p {
    color: $dark;
    text-decoration: none;
  }
}

.mobile-show {
  display: none;
}

@media (max-width: $medium) {
  .mobile-show {
    display: initial;
  }
}
