.btn {
  @include main-font;
  background-image: none !important; 
  border-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 0 0;
  box-sizing: border-box;
  max-width: 100%;
  outline: none !important;
  padding: 10px 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  width: 250px;

  &[disabled] {
    background-color: initial;
    color: initial;
    opacity: .5; 
  }

  &.active {
    box-shadow: none;
  }
}

.btn-spacer {
  margin: 0 20px; 
}

.btn-stacked {
  margin-bottom: 20px;
}

.btn-wide {
  width: auto;
}

.btn-dropdown {
  width: auto;
  padding-right: 85px;

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 24px;
    top: 50%;
    margin-top: -8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 1px solid white;
    border-bottom: 1px solid white; 
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 56px;
    border-left: 1px solid white;
    pointer-events: none; 
  }
}

.btn-back {
  width: auto;
  padding-left: 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 24px;
    top: 50%;
    margin-top: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary; 
  }
}

.btn-link {
  color: $primary;
  width: auto;
  padding: 10px 0;
  background-color: transparent !important;

  &.btn-toggle {
    color: rgba(23, 36, 51, 0.4); 
  }

  &:hover, &:focus {
    color: $primary;
  }

  &.active {
    box-shadow: none;
    color: $primary; 
  }
}

.btn-orange {
  background: $primary;
  border-color: $primary;
  color: #fff;

  &:hover, &:focus {
    background-color: darken($primary, 0.5%);
    color: #fff;
  }
}

.btn-grey {
  background: transparent;
  border-color: $primary;
  color: $primary;

  &:hover, &:focus {
    background: transparent;
    border-color: darken($primary, 0.5%);
    color: darken($primary, 0.5%);
  }
}

@media (max-width: $medium) {
  .btn-responsive {
    display: block;
    float: none;
    margin: 20px auto;
  }
}
