.table-responsive {
  overflow-x: auto;

  & > table {
    @media (max-width: $medium) {
      td + td,
      th {
        display: none;
      }

      .mobile-show {
        display: block;
          margin-top: 20px;
      }
    }
  }
}

table {
  border: 0 !important;
  width: 100%;

  tbody {
    border: 0 !important;
  }

  tr.clickable {
    cursor: pointer;

    td {
      transition: .2s background ease;
    }

    &:hover td {
      background-color: rgba($border, .05) !important;
    }

    .row,
    .row-fluid {
      display: block;
    }
  }

  td, th {
    padding: 30px 0 !important;
    border-top: 0 !important;
    background-color: transparent !important;
    vertical-align: middle !important;
  }
  text-align: left;

  td {
    &:not(:last-child) .text-right, 
    &.text-right:not(:last-child) {
      padding-right: 20px;
    }
  }

  th {
    font-weight: normal !important;
    font-size: .9em;
    color: $secondary;
    border-bottom: 1px solid $border !important;

    &:not(:last-child) .text-right, 
    &.text-right:not(:last-child) {
      padding-right: 20px;
    }
  }

  td {
    border-bottom: 1px dotted rgba($border, 0.3) !important;
    font-weight: normal !important;
    &.minor, small {
      @include body-font;
      color: $secondary;
    }
    &:first-child {
      padding-left: 0;
    }
  }

  th:first-child {
    padding-left: 0;
  }

  td:last-child, th:last-child {
    padding-right: 0;
  }

  tr:last-child td {
    border-bottom: 1px solid $border !important;
  }
  
  &.invoices {
    tr:nth-child(even) td {
      border-top-color: rgba($border, 0.2) !important;
    }
    td {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
