{% extends master.master %}
{% block htmlTag %}itemscope itemtype="http://schema.org/Event"{% endblock %}
{% block title %}{{ data.Local.Event.Name }} | {% T Events %} | {{ data.Business.Name }}{% endblock %}
{% block meta %}

<meta itemprop="name" content="{{ data.Local.Event.Name | StripHtml }}" />
<meta itemprop="description" content="{{ data.Local.Event.ShortDescription | StripHtml }}" />
{% if data.Local.BlogPost.HasImage %}
<meta itemprop="image" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200 %}" />
{% endif %}

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ data.Setting_Social_Twitter }}" />
<meta name="twitter:title" content="{{ data.Local.Event.Name | StripHtml  | Truncate: 70 }}" />
<meta name="twitter:description" content="{{ data.Local.Event.ShortDescription | StripHtml | Truncate: 200 }}" />
<meta name="twitter:creator" content="@{{ data.Setting_Social_Twitter }}" />
{% if data.Local.Event.HasLargeImage %}
<meta name="twitter:image:src" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200 %}" />
{% endif %}

<!-- Open Graph data -->
<meta property="og:title" content="{{ data.Local.Event.Name | StripHtml }}" />
<meta property="og:type" content="event" />
{% if data.Local.Event.HasLargeImage %}
<meta property="og:image" content="http://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 800  %}" />
<meta property="og:image:secure_url" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200  %}" />
{% endif %}
<meta property="og:description" content="{{ data.Local.Event.ShortDescription | StripHtml }}" />
<meta property="og:site_name" content="{{ data.Business.Name }}" />


{% endblock %}
{% block content %}
<div id="wrapper">
  <div id="main" class="container basic">
    <div class="row card-wrapper--list">
      <article class="card span">
        <a href="{% Url Events, Tickets, Id: data.Local.Event.Id, title: data.Local.Event.Name | Clean %}">
          <div class="card-image" style="background-image: url({% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 870 %})"></div>
        </a>
        <div class="card-content">
          <a class="card-meta" href="{% Url Events, ICal, Id: data.Local.Event.Id %}">{{ data.Local.Event.StartDate | Date: 'dd MMMM - h:mmtt' }}</a>
          <h2 class="card-title"><a href="{% Url Events, Tickets, Id: data.Local.Event.Id, title: data.Local.Event.Name | Clean %}">{{ data.Local.Event.Name | StripHtml }}</a></h2>
          <div class="card-description">
            {{ data.Local.Event.ShortDescription | StripHtml | MarkDown }}
          </div>
          <!-- END POST INFO -->
          <!-- POST CONTENT -->
          <div class="card-hover">
            {% if data.Local.Event.TicketsPage != null %}
              <a href="{{data.Local.Event.TicketsPage}}" class="btn btn-orange">
                <i class="icon-ticket"></i>
                {% T Book Now %}
              </a><br />
            {% endif %}
            {% if data.Local.Event.WebAddress != null %}
            <a href="{{data.Local.Event.WebAddress}}" class="btn btn-link">
              <i class="icon-earth"></i>
              {% T Website %}</a>
            {% endif %}
            {% if data.Local.Event.FacebookPage != null %}
            <a href="{{data.Local.Event.FacebookPage}}" class="btn btn-link">
              <i class="icon-facebook"></i>
              {% T Facebook %}</a>
            {% endif %}
          </div>
        </div>
        <!-- END POST CONTENT -->
      </article>

    </div>
  </div>
  <h3 class="text-center">Categories</h3>
  <div class="widget widget-skills">
    <div class="widget-body">
      {% for cat in data.Local.Categories %}
        <a href="{% Url Events, Index, title: cat.Title | Clean, categoryId: cat.Id, page: 1 %}" class="btn active">{{ cat.Title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
