<!-- HEADER -->
<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container" style="min-height:100px">
      <!-- LOGO OR SPACE NAME -->
      <h1 style="margin-top:40px; margin-bottom:30px" class="pull-left">
        <a href="{% Url PublicHome, Index %}">{{ data.Business.Name }}</a>
        | <span>
        {% if data.Controller == 'publichome' or hideNav %}
          {% T Welcome back %}, {{data.Coworker.Salutation}}
        {% else %}
          {% T {{data.Controller}} %}
        {% endif %}
        </span>
      </h1>
      <!-- END LOGO OR SPACE NAME -->
      {% unless hideNav %}

        <input type="checkbox" id="sw-collapse" />
        <label for="sw-collapse"></label>
        <!-- MAIN NAVIGATION -->
        <nav class="sw-collapse">
          <ul class="nav nav-pills pull-right">
            <li id='home' class="{%if data.Controller == 'publichome'%}active{%endif%}"><a href="{% Url PublicHome, Index %}">{% T Home %}</a></li>
            <li id='events' class="{%if data.Controller == 'events'%}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Events, Index %}">{% T Events %}</a></li>
            <li id="bookings" class="{%if data.Controller == 'bookings' and data.Local.ShowAll %}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Bookings, Index %}">{% T Bookings %}</a></li>
            <li id='resources' class="{%if data.Controller == 'publicresources'%}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url PublicResources, Index %}">{% T Space resources %}</a></li>
            {% if data.Setting_PublicWebSite_Help %}
              <li id="support" class="{%if data.Controller == 'support'%}active{%endif%}"><a href="{% Url Support, Index %}">{% T Support %}</a></li>
            {% endif %}
            {% if data.Setting_PublicWebSite_MyAccount %}
              {% if data.UserIsLoggedIn %}
              <li id='settings' class="dropdown {%if data.Controller == 'profile' or data.Controller == 'invoices' or data.Controller == 'bookings' or data.Controller == 'allowances' or data.Controller == 'store' %}active{%endif%}">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{% T Account %}</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="{%if data.Controller == 'profile' and data.Action == 'index'%}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Profile, Index %}">{% T My profile %}</a></li>
                  <li class="{%if data.Controller == 'invoices'%}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Invoices, Index %}">{% T Payments %}</a></li>
                  <li class="{%if data.Controller == 'bookings' and data.Local.ShowAll == false %}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Bookings, Index, ShowAll: false %}">{% T My Bookings %}</a></li>
                  <li class="{%if data.Controller == 'allowances'%}active{%endif%}"><a role="menuitem" tabindex="-1" href="{% Url Allowances, Index %}">{% T Credits %}</a></li>

                  <li class="{%if data.Controller == 'store'%}active{%endif%} {% if data.ProductTags.size > 0 %} dropdown-submenu {% endif %}">
                    <a role="menuitem" tabindex="-1" href="{% Url Store, Products %}">{% T Extras %}</a>
                    {% if data.ProductTags.size > 0 %}
                  	<ul class="dropdown-menu" role="menu">
                      {% for tag in data.ProductTags %}
                      <li><a role="menuitem" tabindex="-1" href="{% Url Store, Products %}?tag={{ tag }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>

                  <li><a role="menuitem" tabindex="-1" href="{% Url Login, Logout %}">{% T Logout %}</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}/{{ data.Language }}/profile">{% T My Account %}</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      <!-- END MAIN NAVIGATION -->
      {% endunless %}
    </div>
  </div>
</header>
<!-- END HEADER -->
