{% extends master.master %}
{% block title %}{% T Additional Products %} | {{ data.Business.Name }}{% endblock %}
{% block content %}
<section class="container">
  <div class="text-center">
    <p class="alert alert-info" data-bind="visible: products().length == 0">
      {% T There are no products available %}
    </p>
  </div>
</section>
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    {% if data.Coworker.Tariff != null and data.Coworker.Active == false %}
    <div class="progress progress-striped">
      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar bar-success" style="width: 20%;">2. {% T Choose a price plan %}</div>
    </div>
    {% else %}
    {% endif %}
    <div class="row">
      <!-- CONTENT -->
      <section id="content" class="span12">
        <div class="body-content table-responsive">
          <table class="table" data-bind="visible: products().length > 0">
            <thead>
              <tr>
                <th class="span8">{% T Product %}</th>
                <th class="span1 minor">{% T Price %}</th>
                <th class="span1 minor">{% T Qty. %}</th>
                <th class="span2 minor" style="white-space: nowrap;"></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: products">
              <tr>
                <td>
                  <span data-bind="text: Name"></span><br />
                  <small data-bind="text: Description"></small>
                </td>
                <td class="minor"><span data-bind="text: PriceFormatted"></span></td>
                <td class="minor">
                  <select class="select--number" data-bind="value: Quantity, optionsCaption: '0', options: $root.qtys">
                  </select>
                </td>
                <td class="text-center minor">
                  {% if data.coworker.tariff == null %}
                    <input data-bind="attr: {id: 'add-to-plan-' + $index() }, checked: RegularCharge, visible: Quantity() > 0 && !AlwaysRecurrent() && !AlwaysOneOff()" type="checkbox" />
                    <label class="body-font" data-bind="attr: {for: 'add-to-plan-' + $index() }, visible: Quantity() > 0 && !AlwaysRecurrent() && !AlwaysOneOff()">{% T Add to my monthly plan %}</label>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" style="border-top: 1px solid black">
            <tbody>
              <tr>
                <td class="span9 text-right">
                  {% T One-off Payment: %}
                  &nbsp;&nbsp;&nbsp;
                </td>
                <td class="span3">
                  {{ currencySymbol }}
                  <span data-bind="text: totalOneOff"></span>
                </td>
              </tr>
              <tr>
                <td class="span9 text-right">
                  {% T Added to your price plan: %}
                  &nbsp;&nbsp;&nbsp;
                </td>
                <td class="span3">
                  {{ currencySymbol }}
                  <span data-bind="text: totalTariff"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pull-right mobile-center">
            <button class="btn btn-orange" data-bind="click: function () { selectedProducts().length == 0 ? doPurchase() : confirmPurchase() }, text: doPurchaseEnabled() ? '{% T Confirm Purchase %}' : '{% T Please wait... %}'">{% T Confirm Purchase %}</button>
          </div>
        </div>
      </section>
      <!-- END CONTENT -->
      <!-- CONFIRM PURCHASE MODAL -->
      <div class="modal hide fade" data-bind="showModal: showConfirmation">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-bind="click: closeConfirmation">&times;</button>
          <h3>{% T Confirm your Purchase %}</h3>
        </div>
        <div class="modal-body">
          <form action="#">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="span10">{% T Product %}</th>
                  <th class="span2">{% T Price %}</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: selectedProducts">
                <tr>
                  <td><span data-bind="text: Name"></span></td>
                  <td>
                    <span data-bind="text: Quantity"></span>x
                    <span data-bind="text: PriceFormatted"></span>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th class="span10 text-right">
                    <span>{% T One-off Payment %}</span>
                    &nbsp;&nbsp;&nbsp;
                    <br />
                    <span class="fade body-font">Added to your next incidentals invoice</span>
                    &nbsp;&nbsp;&nbsp;
                  </th>
                  <th class="span2">
                    <span>{{ currencySymbol }}</span>
                    <span data-bind="text: totalOneOff"></span>
                  </th>
                </tr>
                <tr>
                  <th class="span10 text-right">
                    <span>{% T Added as a monthly cost: %}</span>
                    &nbsp;&nbsp;&nbsp;
                  </th>
                  <th class="span2">
                    <span>{{ currencySymbol }}</span>
                    <span data-bind="text: totalTariff"></span>
                  </th>
                </tr>
              </tbody>
            </table>
          </form>
          <div class="text-center fade body-font">
            You will receive confirmation of your purchases shortly from a member of the Soho Works team.
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-orange" data-bind="click: doPurchase, enable: doPurchaseEnabled, text: doPurchaseEnabled() ? '{% T Confirm Purchase %}' : '{% T Please wait... %}'">{% T Confirm Purchase %}</a>
          <a href="#" class="btn btn-link" data-bind="click: closeConfirmation">{% T Cancel %}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script>
  var lang = '{{ data.Language }}';
  var onlyTimePasses = '{{ data.Local.OnlyTimePasses }}';
  var productId = '{{ data.Local.ProductId }}';
  var tag = '{{ data.Local.Tag }}';
</script>
<script type="text/javascript" src="/content/themes/public/default/js/store.js"></script>
{% endblock %}
