{% extends master.master %}
{% block title %}{% T Terms and Conditions %} {% endblock %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <div class="row">

      <!-- CONTENT -->
      <section id="content" class="span12">
        {% if data.Coworker.GeneralTermsAccepted == false %}
          <h3>{% T Our Terms &amp; Conditions have changed %}</h3>
        {% else %}
          <h3>{% T Our Terms &amp; Conditions %}</h3>
        {% endif %}
        
        {{ data.Business.TermsAndConditions }}

        {% if data.Coworker.GeneralTermsAccepted == false %}
          <a href="{% Url TermsAndConditions, Accept, returnUrl: data.Local.ReturnUrl %}" class="btn pull-right btn-orange">{% T Accept %}</a>
        {% endif %}
      </section>
    </div>
  </div>
  <!-- END CONTAINER -->
</div>

{% endblock %}
{% block script %}
  {% if data.Coworker.NextTariffId == 0 %}
    <script>
      $('.members-only').hide();
    </script>
  {% endif %}
{% endblock %}
