article.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 25px rgba(black, 0.1), 0 3px 6px rgba(black, 0.1);
  box-sizing: border-box;
  margin-right: 0;
  padding: 20px;
  position: relative;
  transition: .2s all ease;
  width: 100%;
  overflow: visible;

  &:hover {
    box-shadow: 0 15px 25px rgba(black, 0.3), 0 7px 10px rgba(black, 0.1);
  }

  @media (max-width: $medium) {
    margin-left: 0;
  }

  @media (min-width: $medium) {
    height: 460px;
    
    .card-hover {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .2s all ease;
      pointer-events: none;
    }

    &:hover:not(.card--no-hover) {
      .card-description {
        opacity: 0;
      }
      .card-hover {
        opacity: 1;
        bottom: 0;
        pointer-events: auto;
      }
    }

    .card-wrapper--grid & {
      width: 30.6%;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-image: linear-gradient(to top, white 5%, rgba(white, 0));
        transition: .2s opacity ease;
        border-radius: 0 0 5px 5px;
      }

      .card-content {
        max-height: calc(100% - 215px);
        overflow: hidden;
      }

      .card-description {
        max-height: 110px;
        overflow-x: hidden;
      }
    }

    .card-wrapper--list & {
      padding-left: 40%;
      width: 97.5%;
      height: 260px;
      
      .card-content {
        padding: 20px 20px 20px 40px;
      }
      .card-image {
        height: 100%;
        width: 40%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 4px 0 0 4px;
        margin: 0;
      }
      .card-hover {
        left: 40%;
        margin: 0 40px 40px;
        text-align: left;
        .btn {
          margin: 0 10px;
        }
      }
      &:first-of-type {
        padding-left: 55%;
        min-height: 400px;
        .card-image {
          width: 55%;
        }
        .card-content {
          padding-bottom: 0;
        }
        .card-title {
          font-size: 2em;
          line-height: 150%;
        }
        .card-hover {
          left: 55%;
          text-align: center;
          .btn-orange {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.card-hover {
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;

  .btn {
    position: relative;
    z-index: 1;
    margin: auto;
  }
}

.card-image {
  height: 220px;
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 20px -20px;
  background: $bg center/cover no-repeat;
}

.card-title {
  font-weight: normal;
}

.card-meta {
  color: $primary;
  margin-bottom: 20px;
  display: block;
}

.card-description {
  @include body-font;
  opacity: 1;
  transition: .2s opacity ease;
  max-height: 100%;
  overflow: hidden;

  * {
    color: rgba($dark, 0.4);
  }
}

.card--no-hover a {
  pointer-events: none;
}

.card--error {
  .card-title {
    opacity: .5;
  }
}

.card-error {
  color: $error;
  margin-top: 20px;
}

$icons: air-conditioning catering cctv conference-phone drinks heating internet large-display lock natural-light phone projector tea-and-coffee voice-recorder whiteboard-flipboard;

.resource_features {
  padding: 0;
  margin: 0 0 20px 0;
  li {
    display: inline-block;
    color: rgba($dark, 0.4);

    span {
      width: 30px;
      height: 30px;
      background-color: transparent;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      &::before { content: none; }
    }

    @each $icon in $icons {
      span.#{$icon} {
        background-image: image-url('resource_#{$icon}');
      }
    }
  }
}
