/* comments */

.comment {
  position: relative;

  > .pull-left {
    margin-right: 20px;

    &:hover {
      opacity: 0.6;
    }
  }
}

.media > .pull-left .img-circle {
  border: 3px solid #primarycolor;
}

.comment .media-body {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;

  p {}
}

.comment-form .media-body {
  background: #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}

.comment .media-body {
  &:before, &:after {
    content: "";
    display: inline-block;
    position: absolute;
  }
}

.comment-form .media-body form {
  margin: 0;
}

/* members */

.member_block {
  position: relative;
  min-height: 290px;

  img {
    background-color: white;
  }

  &:before {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .user_avatar {
    display: inline-block;
    min-height: 180px;

    &:hover {
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  .img-circle {
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

.team_block .img-circle {
  border: 5px solid #fff;
  position: relative;
  z-index: 1;
  border-color: #primarycolor;
}

.member_block {
  a:hover .img-circle {
    border-color: #primarycolor;
  }

  .btn-grey {
    margin-bottom: 5px;
  }

  .btn .icon {
    margin-right: 0;
  }
}

.skills .btn .icon {
  margin-right: 0;
}

.resource_features {
  .btn .icon {
    margin-right: 0;
  }

  > span {
    margin-bottom: 5px !important;
  }
}

.profile-link {
  color: $dark;
}

#directoy-search .accordion-body {
  ul {
    list-style: none;
    margin: 0;

    a {
      display: inline-table;

      &.tag-checkbox-link {
        width: 85%;
      }
    }
  }

  label {
    margin: 0;
    margin-left: 20px;
  }

  input {
    margin: 0;
    margin-left: -20px;
  }

  li.selected a {
    font-weight: bold;
  }
}

/* filter */

.filter {
  margin-bottom: 30px;
}
