.fc-view-container {
  background: #fff;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 128px !important;
}

.fc-header-title h2 {
  background-color: #primarycolor;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 10px;
}

.fc-event {
  border: 1px solid #a1a1a1;
  background-color: #a1a1a1;
  color: #fff !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;

  &:hover {
    background: #666;
    border-color: #666;
  }
}

.fc-slats td.fc-widget-content:hover {
  background: #666;
  border-color: #666;
}

.fc-day, .fc-event, .fc-rows {
  cursor: pointer !important;
}

.fc-day-grid-event .fc-content {
  overflow: visible;
  white-space: normal;
}

.fc-scroller {
  table {
    min-width: 600px;

    @media (max-width: $medium) {
      #fc-empty-message span {
        display: block;
        max-width: 50vw;
        text-align: left;
      }
    }
  }

  overflow-x: scroll !important;
}

@media (max-width: $medium) {
  .nav--calendar {
    .dropdown {
      display: none !important;
    }
  }
}


#calendar {
  margin: 40px 0 -50px;
  table {
    border-collapse: separate;
  }
  td, th {
    border: 0 !important;
  }
  th {
    font-weight: normal !important;
  }
  td.fc-head-container {
    padding-bottom: 0 !important;
  }
  th.fc-day-header {
    font-weight: normal;
    padding-bottom: 0 !important;
  }
  td {
    &.fc-day-number {
      padding-top: 10px !important;
      padding-right: 8px !important;
      padding-bottom: 10px !important;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: $secondary;
        left: 3px;
        right: 3px;
        top: 0;
      }
      &.fc-state-highlight {
        color: $primary;
        &::after {
          height: 3px;
          top: -1px;
          border-radius: 2px;
          left: 0;
          right: 0;
        }
      }
    }
    &.fc-day {
      &.fc-state-highlight {
        background-color: rgba($primary, 0.08) !important;
      }
      &.fc-sat, &.fc-sun {
        background-color: rgba($primary, 0.02) !important;
      }
    }
  }
  .fc-event-container {
    padding: 0 !important;
    .fc-content {
      padding: 0 6px;
      font-size: .9em;
      letter-spacing: 1px;
      height: 100%;
      .fc-time {
        font-weight: normal;
        display: none;
        margin-bottom: 3px;
      }
      .fc-title {
        white-space: nowrap;
        font-size: 1.1em;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 100%;
      }
    }
  }
  .fc-prev-button, .fc-next-button {
    border: 0;
    background-image: none;
    background-color: $primary;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    box-shadow: none;
    outline: none;
  }
  .fc-prev-button::after, .fc-next-button::after {
    width: 6px;
    height: 6px;
    content: '';
    position: absolute;
    left: 9px;
    top: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid transparent;
    border-right-color: white;
    border-top-color: white;
  }
  .fc-prev-button.fc-prev-button::after, .fc-next-button.fc-prev-button::after {
    border-color: transparent;
    border-left-color: white;
    border-bottom-color: white;
    left: 12px;
  }
  .fc-prev-button span, .fc-next-button span {
    display: none;
  }
  .fc-button:not(.fc-prev-button):not(.fc-next-button) {
    border: 0;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: rgba($dark, 0.4);
    outline: none;
    &.fc-state-active, &.fc-today-button {
      color: #2499E8;
    }
  }
  .fc-toolbar {
    h2 {
      font-size: 1em;
    }

    @media (max-width: $medium) {
      .fc-left, 
      .fc-right {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;

        h2 {
          float: none;
        }

        button,
        .fc-button-group {
          float: none;
          vertical-align: middle;
        }
      }
    }
  }
  .fc-slats {
    z-index: 0;

    td {
      height: auto;
      padding: 0 !important;
      &.fc-widget-content:hover {
        background-color: transparent;
      }
      &.fc-axis {
        position: relative;
        span {
          position: absolute;
          left: 0;
          top: -10px;
        }
        &::after {
          content: '';
          width: 1px;
          display: block;
          height: 30px;
        }
      }
      &.fc-widget-content:not(.fc-axis) {
        border-top: 1px solid $secondary !important;
      }
    }
    tr {
      &.fc-minor td.fc-widget-content:not(.fc-axis) {
        border-top-color: rgba(201, 204, 204, 0.2) !important;
      }
      &:last-child td.fc-widget-content:not(.fc-axis) {
        border-bottom: 1px solid $secondary !important;
      }
    }
  }
  .fc-agendaDay-view .fc-day::after,
  .fc-agendaWeek-view .fc-day::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 4px;
    background-color: white;
    top: 0;
  }
  .fc-agenda-view .fc-time-grid-container {
    max-height: 60px * 11 + 10px;
    overflow-y: auto;
    padding-top: 10px;
  }

  .fc-event {
    margin-top: -30px;
    margin-bottom: 29px;
    margin-left: 2px;
    margin-right: -4px;
    border-radius: 0;
    border-width: 0;
    padding: 8px;
    padding-left: 12px;

    .fc-content {
      position: static;
      
      &::after {
        background-color: rgba(255, 255, 255, 0.25);
        bottom: 0;
        content: '';
        left: 10px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .fc-title {
      white-space: normal !important;
    }
    .fc-time {
      display: block;
    }
    .fc-bg {
      margin-left: 10px;
      background-color: transparent;
    }
  }
  .fc-list-view {
    margin-top: 60px;
    .fc-scroller {
      border-color: $secondary;
    }
    th {
      background-color: transparent;
      border-bottom: 1px solid $secondary !important;
      color: rgba($dark, 0.4);
    }
    tr:not(:first-child) th {
      border-top: 1px solid $secondary !important;
    }
    td {
      border-bottom: 1px solid rgba($secondary, 0.2) !important;
      &.fc-time {
        min-width: 180px;
      }
      &.fc-title {
        color: rgba($dark, 0.4);
      }
    }
    span.fc-event {
      width: 6px;
      height: 6px;
      border: 0;
      border-radius: 10px;
      margin-right: 40px;
    }
  }
  .fc-agendaDay-view {
    .fc-resource-cell {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }
  }
  .fc-month-view {
    .fc-event {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .fc-list-view {
    .fc-event-handle {
      padding: 0 20px !important;
    }
    .resource-tooltip {
      left: -10px;
      transform: translate3D(0, 0, 0);
    }

    .resource-tooltip__arrow {
      margin-left: 0;
      left: 23px;
    }

    .resource-label:hover {
      .resource-tooltip {
        transform: translate3D(0, -10px, 0);
      }
    }
  }

  .fc-today-button {
    background-image: none !important; 
    border: 1px solid $primary !important;
    border-radius: 4px;
    box-shadow: 0 0 0;
    box-sizing: border-box;
    color: $primary;
    max-width: 100%;
    outline: none !important;
    height: auto !important;
    margin-top: -7px !important;
    padding: 10px 50px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    &:hover, &:focus {
      background: transparent;
      border-color: darken($primary, 0.5%);
      color: darken($primary, 0.5%);
    }
  }
}

.resource-label {
  display: inline-block;
  border-radius: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

.resource-label--text {
  padding: 10px 16px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(white, .75);
    border-radius: 40px;
  }

  &.active {
    &:before {
      content: none;
    }

    .resource-label__text {
      color: white !important;
    }
  }
}

.resource-label__text {
  position: relative;
}

.resource-label--hover {
  width: 40px;
  position: relative;

  .resource-tooltip {
    border-radius: 30px;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    padding: 10px 18px;
    pointer-events: none;
    position: absolute;
    transform: translate3D(-50%, 0, 0);
    transition: .2s transform ease, .2s opacity ease;
    white-space: nowrap;
    box-sizing: border-box;
    height: 40px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(white, .75);
      border-radius: 40px;
    }

    .resource-tooltip__label {
      position: relative;
    }

    .resource-tooltip__arrow {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -6px;
      border: 6px solid transparent;
      opacity: .25;
    }
  }

  &:hover {
    .resource-tooltip {
      transform: translate3D(-50%, -10px, 0);
      opacity: 1;
    }
  }
}

.resource-dot {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 40px;
  border: 12px solid rgba(white, .75);
}
