#map-canvas {
  margin: 0;
  padding: 0;
  height: 400px;
  margin-bottom: 50px;

  @media (max-width: $medium) {
    display: none;
  }
}

.map-box {
  background-color: $primary;
  width: 300px;
  margin-top: -57px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 16px rgba(black, 0.05);
  padding: 20px;
  transform: translate3d(30px, -30%, 0);
  position: relative;
  @include main-font;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    border: 8px solid transparent;
    border-right-color: $primary;
    margin-top: -20px;
  }

  h1 {
    opacity: .5;
    color: white;
  }

  p {
    @include body-font;
    color: white;
    font-weight: normal;

    span {
      opacity: .5;
      @include main-font;
      color: white;
    }
  }
}
