/* intro */

#intro {
  h2 {
    margin: 0 0 50px;
  }

  .wellcome_block {
    position: relative;

    .circle {
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
    }

    p {
      min-height: 55px;

      @media (max-width: 767px) {
        min-height: initial;
      }
    }
  }
}

/*#intro .wellcome_block:before{
 *  content: '';
 *  display: inline-block;
 *  border-bottom: 1px solid #ccc;
 *  position: absolute;
 *  top: 36px;
 *  left: 0;
 *  right: 0;
 *  z-index: 0;
 *} */

#prices h3 {
  color: #000;
}
