header {
  &.navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    margin-bottom: 30px;
  }

  .navbar-inner h1 {
    margin: 20px 0;
    color: transparentize($dark, 0.6);
    font-weight: normal;

    a {
      color: $dark;
      margin-right: 5px;
    }

    span {
      margin-left: 5px;
    }

    @media (max-width: $medium) {
      font-size: 0;

      a {
        font-size: 14px;
      }
    }

    @media (max-width: $small) {
      margin-bottom: 0px !important;
      float: none;

      a {
        display: block;
        text-align: center;
      }
    }
  }

  &.navbar-static-top .nav {
    > li > .dropdown-menu {
      &:before, &:after {
        display: none;
      }
    }

    li.dropdown {
      &.open > .dropdown-toggle, &.active > .dropdown-toggle, &.open.active > .dropdown-toggle {
        background-color: #ddd;
        color: #333;
      }
    }

    > li > a {
      &:focus, &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}

/* wrapper */

.wrapper--dark {
  background-color: $dark; 
}

#wrapper {
  section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-bottom: 40px;

    &#content {
      border: none;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .container {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 16px rgba(0, 0, 0, 0.05);
    margin-bottom: 36px;
    box-sizing: border-box;

    &.basic {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 30px 0; 
    }

    .span12 {
      width: 97.5% !important; 
    }

    .span9 {
      width: 72.2% !important; 
    }

    .span8 {
      width: 64% !important; 
    }

    .span7 {
      width: 55% !important; 
    }

    .span6 {
      width: 46% !important; 
    }

    .span5 {
      width: 41% !important; 
    }

    .span4 {
      width: 30.6% !important; 
    }

    .span3 {
      width: 22.2% !important; 
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  #main {
    margin-bottom: 36px;
  }

  [class*="span"] {
    margin-bottom: 20px;
  }
}

/* footer */

.in-iframe footer {
  display: none;
}

footer {
  background: white;
  margin-top: 40px;
  padding: 40px 0;
  .block {
    margin-bottom: 20px;
    p {
      @include body-font;
      color: #C9CCCC;
      margin-bottom: 20px;
      strong {
        @include main-font;
        color: #172433;
        font-weight: normal;
      }
    }
  }
}

.footer-above {
  p {
    color: rgba(23, 36, 51, 0.4);
  }
  .input-append {
    width: 75%;
    margin: 50px auto;
  }
}

.profile-section {
  text-align: center;
  padding-right: 30px;
  box-sizing: border-box;
  img {
    margin-bottom: 30px;
  }
  h1 {
    font-weight: normal;
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h1, h2 {
    margin-bottom: 12px;
  }
  + #profile-form {
    border-left: 1px solid #C9CCCC;
    margin-left: 0;
    padding-left: 30px;
    margin-top: -30px;
    padding-top: 30px;
    margin-bottom: -30px;
    h3 {
      margin-bottom: 50px;
    }
  }
}
