$dark: #172433;
$primary: #2499E8;
$accent: #A887F2;
$highlight: #FFDB33;
$bg: #F7F7FA;
$weird-blue: #F5FAFF;
$pale: #F8F8F9;
$secondary: #C9CCCC;

@function image-url($file) {
  @return url("/images/#{$file}.png");
}

body {
  background: $bg;
  color: $dark;

  a, h1, h2, h3, h4, h5, h6, p {
    color: $dark;
    text-decoration: none;
  }
}
