.btn {
  @include main-font;
  border-color: transparent;
  box-shadow: 0 0 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in;
  box-sizing: border-box;
  max-width: 100%;
  background-image: none !important; 
  border-color: transparent;
  box-shadow: 0 0 0;
  outline: none !important;
  padding: 10px 30px;
  transition: all 200ms ease-in;
  width: 250px;

  &[disabled] {
    background-color: initial;
    color: initial;
    opacity: .5; 
  }

  &.active {
    box-shadow: none;
  }
}

.btn-spacer {
  margin: 0 20px; 
}

.btn-link {
  color: $primary;
  width: auto;
  padding: 10px 0;
  background-color: transparent !important;

  &.btn-toggle {
    color: rgba(23, 36, 51, 0.4); 
  }

  &:hover, &:focus {
    color: $primary;
  }

  &.active {
    box-shadow: none;
    color: $primary; 
  }
}

.btn-orange {
  background: $primary;
  border-color: $primary;
  color: #fff;

  &:hover, &:focus {
    background-color: darken($primary, 0.5%);
    color: #fff;
  }
}

.btn-grey {
  background: transparent;
  border-color: $primary;
  color: $primary;

  &:hover, &:focus {
    background: transparent;
    border-color: darken($primary, 0.5%);
    color: darken($primary, 0.5%);
  }
}

@media (max-width: $medium) {
  .btn-responsive {
    display: block;
    float: none;
    margin: 20px auto;
  }
}
