.modal-backdrop {
  background-color: $dark;

  &.fade.in {
    opacity: 0.95 !important
  }
}

.modal {
  box-shadow: none;
  background-color: transparent;
  color: white;
  border: 0;
  position: absolute;

  .close {
    font-weight: normal;
    color: white;
    opacity: .5;
  }
}

.modal-header {
  text-align: center;
  border-bottom: 0;

  h3 {
    color: white;
    font-size: initial;
  }
}

.modal-body {
  max-height: none;

  label, p {
    color: white;
  }

  .body-label {
    @include body-font;
    color: white;
  }

  input {
    background-color: transparent;
    margin-right: 0;
    border: 0;
    color: white;
    padding-left: 0;
    border-radius: 0;
  }

  .controls {
    margin-bottom: 10px;

    &:nth-child(even) {
      margin-bottom: 40px;
    }

    input {
      border-bottom: 1px solid white;
    }

    textarea {
      border-radius: 0;
      border-width: 0 0 1px 0;
      border-color: white;
      background: transparent;
      box-shadow: none !important;
      color: white;
      padding: 10px 0;
    }
  }

  table {
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid rgba($secondary, 0.2) !important;
    border-bottom: 1px solid rgba($secondary, 0.2) !important;
  }

  th {
    color: rgba(white, 0.4);
  }

  td {
    padding: 20px 0 !important;

    &:last-child {
      text-align: right;

      select {
        appearance: none;
        background-color: transparent;
        background-image: url('/images/asset_select-arrows.png');
        background-position: right bottom 4px;
        background-repeat: no-repeat;
        background-size: auto 21px;
        border: 0;
        color: $primary;
        outline: none;
        padding-right: 30px;
        padding-left: 0;
        width: 100%;
        font-size: 12px;
      }

      .input-append {
        margin: 0;

        input {
          color: $primary;
          font-size: 12px;
        }

        > span {
          background: transparent;
          border: 0;

          i {
            background: transparent url('/images/asset_date-picker.png') center/contain no-repeat;
            width: 22px;
            height: 30px;

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}

.modal-footer {
  background: transparent;
  border: 0;
  text-align: center;
  box-shadow: none;

  .btn {
    color: white;
    display: block;
    margin: 10px auto !important;
  }

  .btn-grey {
    border-color: white;
  }
}
