@mixin main-font {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: none !important;
  font-size: 12px;
  letter-spacing: 0.25em;
  color: $dark;
  line-height: 175%;
}

@mixin body-font {
  @include main-font;
  color: inherit;
  text-transform: none;
  letter-spacing: 0;
  line-height: 175%;
  font-size: 13px;
}

body {
  @include main-font;

  * {
    text-shadow: none !important;
  }
}

.body-font {
  @include body-font;
}

input,
textarea,
label,
button,
select {
  @include main-font;
}

h1, h2 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  line-height: inherit;
  font-weight: normal;
}

h1.subheader, h2.subheader, h3.subheader, h4.subheader, h5.subheader, h6.subheader {
  font-weight: normal;
  margin: 10px 0;
}

h3 {
  color: rgba(23, 36, 51, 0.4);
  font-size: 0.9em;
}

a {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.text-justify {
  text-align: justify !important;
}

.text-right {
  text-align: right !important;
}

.fade {
  opacity: 0.6;
}

.highlight {
  color: $highlight;
}

a:hover {}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 {
  text-decoration: none;
}

a.thumbnail {
  &:hover, &:focus {
    border-color: rgba(248, 171, 3, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 171, 3, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 171, 3, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 171, 3, 0.6);
  }
}
