{% assign hasTickets = ev.TicketsPage != null %}
{% assign soldOut = false %}
{% if hasTickets %}
  {% assign soldOut = true %}
  {% for prod in ev.EventProducts %}
    {% if prod.SoldOut == false %}{% assign soldOut = false %}{% endif %}
  {% endfor %}
{% endif %}

<article class="card span {% if soldOut or (hasTickets == false) %}card--no-hover{% endif %} {% if soldOut %}card--error{% endif %}">
  <a href="{% Url Events, Tickets, Id: ev.Id, title: ev.Name | Clean %}">
    <div class="card-image" style="background-image: url({% Url Events, GetLargeImage, id: ev.Id, w: 870 %})"></div>
  </a>
  <div class="card-content">
    <a class="card-meta" href="{% Url Events, ICal, Id: ev.Id %}">{{ ev.StartDate | Date: 'dd MMMM - h:mmtt' }}</a>
    <h2 class="card-title"><a href="{% Url Events, Tickets, Id: ev.Id, title: ev.Name | Clean %}">{{ ev.Name | StripHtml }}</a></h2>
    <div class="card-description">
      {{ ev.ShortDescription | StripHtml | MarkDown }}
    </div>
    {% if soldOut %}<h2 class="card-error">{% T Fully Booked %}</h2>{% endif %}
    <div class="card-hover">
      {% if hasTickets %}
        <a href="{{ev.TicketsPage}}" class="btn btn-orange">
          <i class="icon-ticket"></i>
          {% T Book Now %}
        </a><br />
      {% endif %}
      {% if ev.WebAddress != null %}
      <a href="{{ev.WebAddress}}" class="btn btn-link">
        <i class="icon-earth"></i>
        {% T Website %}</a>
      {% endif %}
      {% if ev.FacebookPage != null %}
      <a href="{{ev.FacebookPage}}" class="btn btn-link">
        <i class="icon-facebook"></i>
        {% T Facebook %}</a>
      {% endif %}
    </div>
  </div>
</article>
